@keyframes fade-in{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.fade-in{
    animation: fade-in 300s  ease-in-out forwards;
}

@keyframes fade-out{
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }

    100%{
        opacity: 0;
    }
}

.fade-out{
    animation: fade-out 300s  ease-in-out forwards;
}