.search{
    display: flex;
    justify-content: center;

    &__box{
        padding: 15px 1.835rem 0 1.835rem;
        width: 100%;
        display: flex;
        justify-content: center;
        font-family: $lato;

        .icon.hide-for-desktop{
            position: absolute;
            left: 10%;
            top: 9%;       
        }

        .icon.hide-for-mobile{
            position: absolute;
            left: 3%;
            top: 21%;  
        }


        &__input{
            width:100% ;
            height: 35px;
            border: none;
            background: rgba(223, 219, 219, 0.7);
            padding: 10px 40px;
            
        }
    }
    
}